<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true">

  <targets>
    <target name="ActiveDirectorySearchTarget"
            type="File"
            fileName="${basedir}/Logs/ActiveDirSearchLog-${shortdate}.log"
            keepFileOpen ="true"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            layout="[${level}] [${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] ${message} ${exception:format=type,message:separator= > :innerFormat=type,message:maxInnerExceptionLevel=10:innerExceptionSeparator=\r\n    }"  />

    <!--<target name="performanceTarget"
            type="File"
            fileName="${basedir}/Logs/PerformanceTrace-${shortdate}.log"
            keepFileOpen ="true"
            archiveNumbering="Rolling"
            archiveEvery="Day"
            layout="[${level}] [${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] ${message} ${exception:format=type,message:separator= > :innerFormat=type,message:maxInnerExceptionLevel=10:innerExceptionSeparator=\r\n    }"   />-->

  </targets>
  <rules>
    <!--<logger name="BasePage" minLevel="Debug" writeTo="performanceTarget" final="true" />-->

    <logger name="*" minLevel="Debug" writeTo="ActiveDirectorySearchTarget" />

  </rules>
</nlog>